@using System.Globalization
@model IEnumerable<DLDK_Forum.Models.BaiViet>
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="~/Content/css/list_post.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/fontawesome-free-5.14.0-web/css/all.css">
    <title>DLDK TRIP | Chủ đề</title>
    @*<link rel="stylesheet" href="~/Content/css/Layout.css">*@
</head>
<body>
    @Html.Partial("~/Views/Shared/header.cshtml")
    <div class="content">
        <div class="container">
            <div class="main">
                <!-- <div class="col-1"></div> -->
                <div class="col-2">
                    @foreach (var item in Model)
                    {
                        <div class="post">
                            <div class="post-left">
                                <div class="post-image">
                                    <img src="~/@item.DuongDanHinhAnh" alt="">
                                </div>
                                <div class="post-react">
                                    @{ 
                                        var Thich = item.CamXucs.Where(s => s.Thich == 1).Count();
                                        var KThich = item.CamXucs.Where(s => s.Thich == 0).Count();
                                        var BinhLuan = item.BinhLuans.Count();
                                    }
                                    <div class="i-container"><i class="far fa-thumbs-up"></i><span>@Thich</span> </div>
                                    <div class="i-container"><i class="far fa-thumbs-down"></i> <span>@KThich</span></div>
                                    <div class="i-container"><i class="far fa-comment"></i><span>@BinhLuan</span></div>
                                </div>
                            </div>
                            <div class="post-right">
                                <div class="time">
                                    <div class="hour">
                                        <p>@item.ThoiGian.ToString("hh:mm")</p>
                                    </div>
                                    <div class="date">
                                        <p class="day">@item.ThoiGian.Day</p>
                                        <p class="month-year">tháng @item.ThoiGian.Month @item.ThoiGian.Year</p>
                                    </div>
                                </div>
                                <div class="author" onclick="window.open('/Home/Account?idAccount=@item.Email','_self')">
                                    <img src="~/Content/image/avt.jpg" alt="">
                                    <h4>@item.NguoiDung.HoTen</h4>
                                </div>
                                <div class="description">
                                    <h2 class="title">
                                        @item.TieuDe
                                    </h2>
                                    @if (item.Noidung.Length <= 300)
                                    {
                                        <p class="sub-title">
                                            @item.Noidung...
                                        </p>
                                    }
                                    else
                                    {
                                        <p class="sub-title">
                                             @item.Noidung.Substring(0, 300)...
                                        </p>
                                    }

                                </div>
                                <a href="/Post/Single_Post?idPost=@item.MaBaiViet" class="read">ĐỌC THÊM</a>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-3">
                    @Html.Action("TableOfContents","Post")
                </div>
            </div>

        </div>
    </div>
    @Html.Partial("~/Views/Shared/footer.cshtml")

</body>

</html>