
@model DLDK_Forum.Models.BaiViet
@using DLDK_Forum.Models;
@using DLDK_Forum.Models.Function;
@{
    Layout = null;
    var noidung = Model.Noidung.Split('\n');
  
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <title>DLDK TRIP | Bài viết</title>
    <link rel="stylesheet" type="text/css" href="~/Content/fontawesome-free-5.14.0-web/css/all.css">
    <link rel="stylesheet" href="~/Content/css/single_blog.css">
    <link href="https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap" rel="stylesheet">

</head>

<body>

    <div class="title_container" style="background:url(/@Model.DuongDanHinhAnh);background-position: center;background-size: cover;background-repeat: no-repeat;background-attachment: fixed;">
        @Html.Partial("~/Views/Shared/header.cshtml")
        <div class="title">
            <div class="title1">
                <span>@Model.ThoiGian.Day . @Model.ThoiGian.Month . @Model.ThoiGian.Year<span>•</span> @Model.NguoiDung.HoTen</span>
                <h1>@Model.TieuDe</h1>
                <h4>@Model.ChuDe.TenChuDe</h4>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-1">
                <h1>@Model.TieuDe</h1>
                <br>
                @foreach (var item in noidung)
                {
                    <p style="text-align:justify;">&emsp;@item</p>
                }
                <br>
                <hr>
                <div class="comment-container">
                    <form class="post-react" action="/Post/bieucam?MaBaiViet=@Model.MaBaiViet" method="post">
                        @{
                            var Thich = Model.CamXucs.Where(s => s.Thich == 1).Count();
                            var KThich = Model.CamXucs.Where(s => s.Thich == 0).Count();
                            var BinhLuan = Model.BinhLuans.Count();
                        }
                        @if (@Session["User"] != null)
                        {

                            CamXucDAO DAO = new CamXucDAO();
                            NguoiDung user = (NguoiDung)Session["User"];
                            var CX = DAO.getCamXuc(user.Email, Model.MaBaiViet);
                            if (CX != null)
                            {
                                if (@CX.Thich == 1)
                                {
                                    <style>
                                        button.i-container:nth-child(2) {
                                            background: rgb(253, 96, 96);
                                        }
                                        button.i-container:nth-child(3) {
                                            background: #fff;
                                        }
                                    </style>
                                }
                                else
                                {
                                    <style>
                                         button.i-container:nth-child(2) {
                                            background: #fff;
                                        }
                                        button.i-container:nth-child(3) {
                                            background: rgb(124, 124, 124);
                                        }
                                    </style>
                                }
                            }                           
                        }
                            <button type="submit" value="1" name="thich" class="i-container"><i class="far fa-thumbs-up"></i><span>@Thich</span></button>
                            <button type="submit" value="0" name="thich" class="i-container"><i class="far fa-thumbs-down"></i><span>@KThich</span></button>
                            <div class="i-container"><i class="far fa-comment"></i><span>@BinhLuan</span></div>                      
                     </form>
                    <div class="count-container">
                        <p>@Model.BinhLuans.Count() Bình luận</p>
                    </div>
                    <ul>
                        @foreach (var item in Model.BinhLuans.OrderBy(s => s.ThoiGian))
                        {
                        <li class="comment">

                            <div class="avt-user">
                                <img src="~/@item.NguoiDung.AnhDaiDien" alt="">
                            </div>
                            <div class="comment-body">
                                <h4>@item.NguoiDung.HoTen</h4> <br>
                                <span>@item.ThoiGian.ToString("dd/MM/yyyy HH:mm")</span>
                                <p>@item.NoiDung</p>
                                @*<p class="btn">Trả lời</p>*@
                            </div>
                            @if (Session["User"] != null && (((NguoiDung)Session["User"]).Email == item.Email || (string)Session["permission"] == "admin"))
                            {
                                <div class="delete_cmt">
                                    <form action="/Post/Delete_cmt?idBaiViet=@item.MaBaiViet" method="post">
                                        <button type="submit" value="@item.Email" name="idNguoiDung">xoá</button>
                                    </form>
                                </div>
                            }
                        </li>
                        }
                    </ul>
                    <hr>
                    @if (Session["User"] != null)
                    {

                        <div class="new-comment">
                            <h4>Thêm bình luận</h4>
                            <form action="/Post/binhluan?idPost=@Model.MaBaiViet" method="post">
                                <div class="message-container">
                                    <textarea name="NoiDung" cols="60" rows="5"></textarea>
                                </div>
                                <div class="btn-container">
                                    <input type="submit" class="btn-add" value="Thêm">
                                </div>
                            </form>
                        </div>
                    }
                </div>
            </div>
            <div class="col-2">
                <div class="author">
                    <div class="image-container">
                        <img src="~/@Model.NguoiDung.AnhDaiDien" alt="">
                    </div>
                    <h3>@Model.NguoiDung.HoTen</h3>
                    <hr>
                    <p>@Model.NguoiDung.MoTa</p>
                    <div class="btn-container">
                        <a href="/Home/Account?idAccount=@Model.Email" class="btn-add">Xem thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/footer.cshtml")
</body>

</html>