@model DLDK_Forum.Models.BaiViet

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Delete</title>
</head>
<body>
    <h3>Bạn có chắc chắn muốn xoá bài viết này?</h3>
    <div>
        <h4>BaiViet</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ChuDe.TenChuDe)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ChuDe.TenChuDe)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NguoiDung.HoTen)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NguoiDung.HoTen)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Noidung)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Noidung)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DuongDanHinhAnh)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DuongDanHinhAnh)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TinhTrang)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TinhTrang)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TieuDe)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TieuDe)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ThoiGian)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ThoiGian)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Xoá" class="btn btn-default" /> |
                @Html.ActionLink("Quay Lại", "QuanLyBaiViet", "QuanLy")

            </div>
        }
    </div>
    <!--Modal example-->
    <div class="container">
        <h2>Modal Example</h2>
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the modal.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-default" /> |
                            @Html.ActionLink("Quay Lại", "QuanLyBaiViet", "QuanLy")

                        </div>
                    }
                </div>

            </div>
        </div>

    </div>
    <!--End Modal-->
</body>
</html>
