@model IEnumerable<DLDK_Forum.Models.BaiViet>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ChuDe.TenChuDe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NguoiDung.HoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Noidung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DuongDanHinhAnh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TinhTrang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TieuDe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThoiGian)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ChuDe.TenChuDe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NguoiDung.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Noidung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DuongDanHinhAnh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TinhTrang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TieuDe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGian)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.MaBaiViet }) |
                @Html.ActionLink("Details", "Details", new { id=item.MaBaiViet }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.MaBaiViet })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
